<div class="footer">
                <p class="capitalize fw-300">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repellat vero minima aspernatur ut consequuntur maiores! @copyright 2023 .</p>
            </div>