<nav class="nav-bar">
                <h2 class="logo capitalize md-heading fw-600">{{titleName}}</h2>
                <ul class="nav-items">
                    <li><a href="./" class="fw-300 capitalize normal-text">home</a></li>
                    <li><a href="about" class="fw-300 capitalize normal-text">about</a></li>
                    <li><a href="./contact" class="fw-300 capitalize normal-text">contact</a></li>
                </ul>
            </nav>