<!DOCTYPE html>
<html lang="en">
<head>
    {{>links}}
    <link rel="stylesheet" href="./styling/index.css">
</head>
<body>
    <div class="main-container">
        <div class="father container">
            {{>nav}}

            <div class="error-page">
                <h1 class="lg-heading">404 , This page does not exist sorry , </h1>
                <a href="./" class="primary-btn">back to home</a>
            </div>
            {{>footer}}
        </div>
    </div>
</body>
</html>