<!DOCTYPE html>
<html lang="en">
    {{>links}}
    <link rel="stylesheet" href="./styling/index.css">
<body>
    <div class="main-container">
        <div class="father container">
            {{!-- navbar --}}
            {{>nav}}
            <!-- ###################### main data will come here bro ..... ################### -->
            <section class="about-page">
                <h1 class="lg-heading">I have designed more that 100 micro projects , just to enhance my skill set and to have my name in top tech company</h1>
                <p class="normal-text fw-300">Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda sit officia porro esse necessitatibus quibusdam ex ullam libero dignissimos quo facilis, nostrum modi possimus nam officiis earum molestiae pariatur at iste aspernatur magnam ab quis repellat dolor. Eaque laborum eum, reprehenderit pariatur esse libero minus ut veniam natus amet optio.</p>
                <a href="contact" class="primary-btn"> contact </a>
            </section>

            {{>footer}}
        </div>
    </div>
</body>
</html>