<!DOCTYPE html>
<html lang="en">
<head>
    {{>links}}
    <link rel="stylesheet" href="./styling/index.css">
</head>
<body>
    <div class="main-container">
        <div class=" father container">
            {{>nav}}



            <!-- main data begins below  -->
            <div class="main-content">
                <div class="box1">
                    <h2 class="lg-heading capitalize fw-600">welcome to isolation</h2>
                    <p class="fw-300 normal-text">Lorem, ipsum dolor sit amet consectetur adipisicing Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis, rerum error? Necessitatibus aliquam ab laudantium! Obcaecati, cumque rem. Aut mollitia quas quod sequi modi voluptate? elit. Est tenetur numquam dolorem. Placeat, quo tempora. Dolor, nesciunt. Ipsum facilis id natus perspiciatis itaque, fugiat quos!</p>
                    
                    <a href="about" class="primary-btn"> about </a>
                </div>
                <div class="box2">
                    <p class="capitalize fw-300">Lorem ipsum Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quibusdam voluptas quidem labore ipsa fuga! Harum. dolor sit amet consectetur adipisicing elit. Fugit fuga accusamus unde sapiente veniam consequuntur voluptate deserunt cumque odio sunt sequi numquam culpa accusantium maxime nisi ea porro itaque distinctio tempora odit laudantium, optio sed similique? Laborum quaerat odit hic nam. Fugit a illo repellat id harum consequatur excepturi at quos alias placeat voluptates tenetur, nam, eaque, rerum quae voluptatem?</p>
                    <a href="./contact" class="primary-btn">contact</a>
                </div>
            </div>



            {{>footer}}
        </div>
    </div>
</body>
</html>